parameters:
	ignoreErrors:
		-
			message: '#^Method XbNz\\Asn\\Model\\Asn\:\:ipAddress\(\) should return Illuminate\\Database\\Eloquent\\Relations\\BelongsTo\<XbNz\\Ip\\Models\\IpAddress, XbNz\\Asn\\Model\\Asn\> but returns Illuminate\\Database\\Eloquent\\Relations\\BelongsTo\<XbNz\\Ip\\Models\\IpAddress, \$this\(XbNz\\Asn\\Model\\Asn\)\>\.$#'
			identifier: return.type
			count: 1
			path: app-modules/asn/src/Model/Asn.php

		-
			message: '#^Property XbNz\\Fping\\Fping\:\:\$binaryPath is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: app-modules/fping/src/Fping.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Support\\LazyCollection\<int,Illuminate\\Support\\LazyCollection\<\(int\|string\), array\<string, string\>\>\>\:\:each\(\) expects callable\(Illuminate\\Support\\LazyCollection\<int\|string, array\{ip\: string\}\>, int\)\: mixed, Closure\(Illuminate\\Support\\LazyCollection\<int, array\<string, string\>\>\)\: void given\.$#'
			identifier: argument.type
			count: 1
			path: app-modules/ip/src/Actions/ImportIpAddressesAction.php

		-
			message: '#^Parameter \#1 \$asn of static method XbNz\\Asn\\DTOs\\AsnDto\:\:fromModel\(\) expects XbNz\\Asn\\Model\\Asn, XbNz\\Asn\\Model\\Asn\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app-modules/ip/src/DTOs/IpAddressDto.php

		-
			message: '#^Method XbNz\\Ip\\Livewire\\ListIpAddresses\:\:ipAddresses\(\) should return Illuminate\\Contracts\\Pagination\\CursorPaginator\<XbNz\\Ip\\Models\\IpAddress\> but returns Illuminate\\Contracts\\Pagination\\Paginator\|Illuminate\\Pagination\\AbstractCursorPaginator\|Illuminate\\Support\\Enumerable\<\(int\|string\), XbNz\\Ip\\ViewModels\\ListIpAddressesTableViewModel\>\.$#'
			identifier: return.type
			count: 1
			path: app-modules/ip/src/Livewire/ListIpAddresses.php

		-
			message: '#^Property XbNz\\Ip\\Livewire\\ListIpAddresses\:\:\$manipulations \(array\<int, class\-string\>\) does not accept array\<int, string\>\.$#'
			identifier: assign.propertyType
			count: 1
			path: app-modules/ip/src/Livewire/ListIpAddresses.php

		-
			message: '#^Method XbNz\\Ip\\Models\\IpAddress\:\:asn\(\) should return Illuminate\\Database\\Eloquent\\Relations\\HasOne\<XbNz\\Asn\\Model\\Asn, XbNz\\Ip\\Models\\IpAddress\> but returns Illuminate\\Database\\Eloquent\\Relations\\HasOne\<XbNz\\Asn\\Model\\Asn, \$this\(XbNz\\Ip\\Models\\IpAddress\)\>\.$#'
			identifier: return.type
			count: 1
			path: app-modules/ip/src/Models/IpAddress.php

		-
			message: '#^Method XbNz\\Ip\\Models\\IpAddress\:\:coordinates\(\) should return Illuminate\\Database\\Eloquent\\Relations\\HasOne\<XbNz\\Location\\Models\\Coordinates, XbNz\\Ip\\Models\\IpAddress\> but returns Illuminate\\Database\\Eloquent\\Relations\\HasOne\<XbNz\\Location\\Models\\Coordinates, \$this\(XbNz\\Ip\\Models\\IpAddress\)\>\.$#'
			identifier: return.type
			count: 1
			path: app-modules/ip/src/Models/IpAddress.php

		-
			message: '#^Method XbNz\\Ip\\Models\\IpAddress\:\:pingSequences\(\) should return Illuminate\\Database\\Eloquent\\Relations\\HasMany\<XbNz\\Ping\\Models\\PingSequence, XbNz\\Ip\\Models\\IpAddress\> but returns Illuminate\\Database\\Eloquent\\Relations\\HasMany\<XbNz\\Ping\\Models\\PingSequence, \$this\(XbNz\\Ip\\Models\\IpAddress\)\>\.$#'
			identifier: return.type
			count: 1
			path: app-modules/ip/src/Models/IpAddress.php

		-
			message: '#^Method XbNz\\Ip\\Models\\IpAddress\:\:ports\(\) should return Illuminate\\Database\\Eloquent\\Relations\\HasMany\<XbNz\\Port\\Models\\Port, XbNz\\Ip\\Models\\IpAddress\> but returns Illuminate\\Database\\Eloquent\\Relations\\HasMany\<XbNz\\Port\\Models\\Port, \$this\(XbNz\\Ip\\Models\\IpAddress\)\>\.$#'
			identifier: return.type
			count: 1
			path: app-modules/ip/src/Models/IpAddress.php

		-
			message: '#^Cannot access property \$value on XbNz\\Shared\\Enums\\IpType\|null\.$#'
			identifier: property.nonObject
			count: 1
			path: app-modules/ip/src/ViewModels/ListIpAddressesTableViewModel.php

		-
			message: '#^Method XbNz\\Location\\Models\\Coordinates\:\:ipAddress\(\) should return Illuminate\\Database\\Eloquent\\Relations\\BelongsTo\<XbNz\\Ip\\Models\\IpAddress, XbNz\\Location\\Models\\Coordinates\> but returns Illuminate\\Database\\Eloquent\\Relations\\BelongsTo\<XbNz\\Ip\\Models\\IpAddress, \$this\(XbNz\\Location\\Models\\Coordinates\)\>\.$#'
			identifier: return.type
			count: 1
			path: app-modules/location/src/Models/Coordinates.php

		-
			message: '#^Parameter \#1 \$command of method Illuminate\\Process\\PendingProcess\:\:command\(\) expects array\<string\>\|string, list\<int\|string\> given\.$#'
			identifier: argument.type
			count: 1
			path: app-modules/masscan/src/MasscanIcmpScanner.php

		-
			message: '#^Access to an undefined property Spatie\\LaravelData\\Lazy\|XbNz\\Ip\\DTOs\\IpAddressDto\:\:\$ip\.$#'
			identifier: property.notFound
			count: 1
			path: app-modules/ping/src/Livewire/Ping.php

		-
			message: '#^Call to an undefined method Illuminate\\Support\\Collection\<int, XbNz\\Ping\\DTOs\\PingSequenceDto\>\|Spatie\\LaravelData\\Lazy\:\:count\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: app-modules/ping/src/Livewire/Ping.php

		-
			message: '#^Call to an undefined method Illuminate\\Support\\Collection\<int, XbNz\\Ping\\DTOs\\PingSequenceDto\>\|Spatie\\LaravelData\\Lazy\:\:each\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app-modules/ping/src/Livewire/Ping.php

		-
			message: '#^Call to an undefined method Illuminate\\Support\\Collection\<int, XbNz\\Ping\\DTOs\\PingSequenceDto\>\|Spatie\\LaravelData\\Lazy\:\:filter\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: app-modules/ping/src/Livewire/Ping.php

		-
			message: '#^Call to an undefined method Illuminate\\Support\\Collection\<int, XbNz\\Ping\\DTOs\\PingSequenceDto\>\|Spatie\\LaravelData\\Lazy\:\:map\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app-modules/ping/src/Livewire/Ping.php

		-
			message: '#^Call to an undefined method Illuminate\\Support\\Collection\<int, XbNz\\Ping\\DTOs\\PingSequenceDto\>\|Spatie\\LaravelData\\Lazy\:\:pluck\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app-modules/ping/src/Livewire/Ping.php

		-
			message: '#^Call to an undefined method Illuminate\\Support\\Collection\<int, XbNz\\Ping\\DTOs\\PingSequenceDto\>\|Spatie\\LaravelData\\Lazy\:\:reject\(\)\.$#'
			identifier: method.notFound
			count: 4
			path: app-modules/ping/src/Livewire/Ping.php

		-
			message: '#^Cannot call method message\(\) on Native\\Laravel\\ChildProcess\|null\.$#'
			identifier: method.nonObject
			count: 2
			path: app-modules/ping/src/Livewire/Ping.php

		-
			message: '#^Method XbNz\\Ping\\Models\\PingSequence\:\:ipAddress\(\) should return Illuminate\\Database\\Eloquent\\Relations\\BelongsTo\<XbNz\\Ip\\Models\\IpAddress, XbNz\\Ping\\Models\\PingSequence\> but returns Illuminate\\Database\\Eloquent\\Relations\\BelongsTo\<XbNz\\Ip\\Models\\IpAddress, \$this\(XbNz\\Ping\\Models\\PingSequence\)\>\.$#'
			identifier: return.type
			count: 1
			path: app-modules/ping/src/Models/PingSequence.php

		-
			message: '#^Method XbNz\\Port\\Models\\Port\:\:ipAddress\(\) should return Illuminate\\Database\\Eloquent\\Relations\\BelongsTo\<XbNz\\Ip\\Models\\IpAddress, XbNz\\Port\\Models\\Port\> but returns Illuminate\\Database\\Eloquent\\Relations\\BelongsTo\<XbNz\\Ip\\Models\\IpAddress, \$this\(XbNz\\Port\\Models\\Port\)\>\.$#'
			identifier: return.type
			count: 1
			path: app-modules/port/src/Models/Port.php

		-
			message: '#^Parameter \#15 \$created_at of class XbNz\\Preferences\\DTOs\\FpingPreferencesDto constructor expects Carbon\\CarbonImmutable, Carbon\\CarbonImmutable\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app-modules/preferences/src/DTOs/FpingPreferencesDto.php

		-
			message: '#^Parameter \#16 \$updated_at of class XbNz\\Preferences\\DTOs\\FpingPreferencesDto constructor expects Carbon\\CarbonImmutable, Carbon\\CarbonImmutable\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app-modules/preferences/src/DTOs/FpingPreferencesDto.php

		-
			message: '#^Parameter \#8 \$created_at of class XbNz\\Preferences\\DTOs\\MasscanPreferencesDto constructor expects Carbon\\CarbonImmutable, Carbon\\CarbonImmutable\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app-modules/preferences/src/DTOs/MasscanPreferencesDto.php

		-
			message: '#^Parameter \#9 \$updated_at of class XbNz\\Preferences\\DTOs\\MasscanPreferencesDto constructor expects Carbon\\CarbonImmutable, Carbon\\CarbonImmutable\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app-modules/preferences/src/DTOs/MasscanPreferencesDto.php

		-
			message: '#^Property XbNz\\RouteviewsIntegration\\RouteViewsAsnToRange\:\:\$asNumber \(int\|null\) is never assigned null so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: app-modules/routeviews-integration/src/RouteViewsAsnToRange.php

		-
			message: '#^Property XbNz\\RouteviewsIntegration\\RouteViewsAsnToRange\:\:\$organization \(string\|null\) is never assigned null so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: app-modules/routeviews-integration/src/RouteViewsAsnToRange.php
