includes:
	- phpstan-baseline.neon
parameters:
    level: 8
    scanFiles:
        - ./_ide_helper_models.php
    paths:
        - app
        - app-modules/shared/src
        - app-modules/fping/src
        - app-modules/ping/src
        - app-modules/ip/src
        - app-modules/routeviews-integration/src
        - app-modules/maxmind-integration/src
        - app-modules/asn/src
        - app-modules/preferences/src
        - app-modules/masscan/src
        - app-modules/location/src

