includes:
	- phpstan-baseline.neon
parameters:
    level: 9
    scanFiles:
        - ./_ide_helper_models.php
    paths:
        - app
        - app-modules/shared/src
        - app-modules/fping/src
        - app-modules/ping/src

