parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#15 \$created_at of class XbNz\\Fping\\DTOs\\FpingPreferencesDto constructor expects Carbon\\CarbonImmutable, Carbon\\CarbonImmutable\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app-modules/fping/src/DTOs/FpingPreferencesDto.php

		-
			message: '#^Parameter \#16 \$updated_at of class XbNz\\Fping\\DTOs\\FpingPreferencesDto constructor expects Carbon\\CarbonImmutable, Carbon\\CarbonImmutable\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app-modules/fping/src/DTOs/FpingPreferencesDto.php

		-
			message: '#^Property XbNz\\Fping\\Fping\:\:\$binaryPath is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: app-modules/fping/src/Fping.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Support\\LazyCollection\<int,Illuminate\\Support\\LazyCollection\<\(int\|string\), array\<string, string\>\>\>\:\:each\(\) expects callable\(Illuminate\\Support\\LazyCollection\<int\|string, array\{ip\: string\}\>, int\)\: mixed, Closure\(Illuminate\\Support\\LazyCollection\<int, array\<string, string\>\>\)\: void given\.$#'
			identifier: argument.type
			count: 1
			path: app-modules/ip/src/Actions/ImportIpAddressesAction.php

		-
			message: '#^Method XbNz\\Ip\\Livewire\\ListIpAddresses\:\:ipAddresses\(\) should return Illuminate\\Contracts\\Pagination\\CursorPaginator\<XbNz\\Ip\\Models\\IpAddress\> but returns Illuminate\\Contracts\\Pagination\\Paginator\|Illuminate\\Pagination\\AbstractCursorPaginator\|Illuminate\\Support\\Enumerable\<\(int\|string\), XbNz\\Ip\\ViewModels\\ListIpAddressesTableViewModel\>\.$#'
			identifier: return.type
			count: 1
			path: app-modules/ip/src/Livewire/ListIpAddresses.php

		-
			message: '#^Property XbNz\\Ip\\Livewire\\ListIpAddresses\:\:\$manipulations \(array\<int, class\-string\>\) does not accept array\<int, string\>\.$#'
			identifier: assign.propertyType
			count: 1
			path: app-modules/ip/src/Livewire/ListIpAddresses.php

		-
			message: '#^Method XbNz\\Ip\\Models\\IpAddress\:\:pingSequences\(\) should return Illuminate\\Database\\Eloquent\\Relations\\HasMany\<XbNz\\Ping\\Models\\PingSequence, XbNz\\Ip\\Models\\IpAddress\> but returns Illuminate\\Database\\Eloquent\\Relations\\HasMany\<XbNz\\Ping\\Models\\PingSequence, \$this\(XbNz\\Ip\\Models\\IpAddress\)\>\.$#'
			identifier: return.type
			count: 1
			path: app-modules/ip/src/Models/IpAddress.php

		-
			message: '#^Cannot access property \$value on XbNz\\Shared\\ValueObjects\\IpType\|null\.$#'
			identifier: property.nonObject
			count: 1
			path: app-modules/ip/src/ViewModels/ListIpAddressesTableViewModel.php

		-
			message: '#^Parameter \#1 \$ipAddress of static method XbNz\\Ip\\DTOs\\IpAddressDto\:\:fromModel\(\) expects XbNz\\Ip\\Models\\IpAddress, XbNz\\Ip\\Models\\IpAddress\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app-modules/ping/src/DTOs/PingSequenceDto.php

		-
			message: '#^Access to an undefined property Spatie\\LaravelData\\Lazy\|XbNz\\Ip\\DTOs\\IpAddressDto\:\:\$ip\.$#'
			identifier: property.notFound
			count: 1
			path: app-modules/ping/src/Livewire/Ping.php

		-
			message: '#^Call to an undefined method Illuminate\\Support\\Collection\<int, XbNz\\Ping\\DTOs\\PingSequenceDto\>\|Spatie\\LaravelData\\Lazy\:\:count\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: app-modules/ping/src/Livewire/Ping.php

		-
			message: '#^Call to an undefined method Illuminate\\Support\\Collection\<int, XbNz\\Ping\\DTOs\\PingSequenceDto\>\|Spatie\\LaravelData\\Lazy\:\:each\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app-modules/ping/src/Livewire/Ping.php

		-
			message: '#^Call to an undefined method Illuminate\\Support\\Collection\<int, XbNz\\Ping\\DTOs\\PingSequenceDto\>\|Spatie\\LaravelData\\Lazy\:\:filter\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: app-modules/ping/src/Livewire/Ping.php

		-
			message: '#^Call to an undefined method Illuminate\\Support\\Collection\<int, XbNz\\Ping\\DTOs\\PingSequenceDto\>\|Spatie\\LaravelData\\Lazy\:\:map\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app-modules/ping/src/Livewire/Ping.php

		-
			message: '#^Call to an undefined method Illuminate\\Support\\Collection\<int, XbNz\\Ping\\DTOs\\PingSequenceDto\>\|Spatie\\LaravelData\\Lazy\:\:pluck\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app-modules/ping/src/Livewire/Ping.php

		-
			message: '#^Call to an undefined method Illuminate\\Support\\Collection\<int, XbNz\\Ping\\DTOs\\PingSequenceDto\>\|Spatie\\LaravelData\\Lazy\:\:reject\(\)\.$#'
			identifier: method.notFound
			count: 4
			path: app-modules/ping/src/Livewire/Ping.php

		-
			message: '#^Method XbNz\\Ping\\Models\\PingSequence\:\:ipAddress\(\) should return Illuminate\\Database\\Eloquent\\Relations\\BelongsTo\<XbNz\\Ip\\Models\\IpAddress, XbNz\\Ping\\Models\\PingSequence\> but returns Illuminate\\Database\\Eloquent\\Relations\\BelongsTo\<XbNz\\Ip\\Models\\IpAddress, \$this\(XbNz\\Ping\\Models\\PingSequence\)\>\.$#'
			identifier: return.type
			count: 1
			path: app-modules/ping/src/Models/PingSequence.php
